<html>
<head>
  <title>Data from Excel Upload</title>
</head>
<body>
  <h1>Data from Excel Upload</h1>
  <table>
    <tr>
      <th>Roll Number</th>
      <th>Name</th>
      <th>Contact Number</th>
    </tr>
      <tr>
        <td><%= data.rollnumber %></td>
        <td><%= data.name %></td>
        <td><%= data.phonenumber %></td>
      </tr>
  </table>
</body>
</html>